<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lytboot.auction.mapper.AuctionDealMapper">

    <resultMap id="BaseResultMap" type="com.lytboot.auction.domain.entity.AuctionDeal">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="activity_id" property="activityId" jdbcType="BIGINT"/>
        <result column="item_id" property="itemId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="deal_price" property="dealPrice" jdbcType="DECIMAL"/>
        <result column="deal_time" property="dealTime" jdbcType="TIMESTAMP"/>
        <result column="settlement_status" property="settlementStatus" jdbcType="VARCHAR"/>
        <result column="breach_status" property="breachStatus" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByActivityId" resultMap="BaseResultMap">
        SELECT * FROM auction_deal WHERE activity_id = #{activityId} LIMIT 1
    </select>

    <update id="updateSettlementStatus">
        UPDATE auction_deal SET settlement_status = #{status} WHERE id = #{id}
    </update>

    <update id="markBreach">
        UPDATE auction_deal SET breach_status = '1', settlement_status = '2' WHERE id = #{id}
    </update>

</mapper>
